node_modules/
dist/
.env
.env.local
*.log
.DS_Store
.netlify/
.vscode/
*.xpz
*.zip
*.accdb
*.mdb
*.m4a
PeopleMovil_2.0_Documentacion_Completa/
genexus/
/freelance/
AppSCPF*.xml
*.pptx
*.mp4
documentacion-referencia/Manual Técnico/
documentacion-referencia/Manual Usuario/
